@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --bgc: #f2f2f2;
  --border: #2a3035;
  --red: rgb(253, 61, 61);
}
html{
    scroll-behavior: smooth;
}
body {
  padding-top: 50px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.photoSlider {
  height: 600px;
  object-fit: cover;
    object-position: center;
}

.about {
  background-color: var(--bgc);
}

.hr {
  border: none;
  border-top: 2px solid var(--red);
  max-width: 250px;
  margin: 25px auto;
}

.about-gray {
  color: var(--red);
  position: relative;
  top: -60px;
  font-size: 40px;
  border: 10px solid var(--bgc);
  background-color: var(--bgc);
}

.team {
  background-color: white;
}

.heart {
  color: var(--red);
  position: relative;
  top: -50px;
  font-size: 40px;
  border: 10px solid white;
  background-color: white;
}
.card {
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.1);
}

.gallery {
  background-color: var(--bgc);
}

.camera-gray {
  color: var(--red);
  position: relative;
  top: -60px;
  font-size: 40px;
  border: 10px solid var(--bgc);
  background-color: var(--bgc);
}

.figure:hover {
  opacity: 0.7;
  transition: all 0.3s;
}

.contact {
  background-color: white;
}

.info-white {
  color: var(--red);
  position: relative;
  top: -50px;
  font-size: 35px;
  border: 10px solid white;
  background-color: white;
}

textarea {
  resize: none;
}
